@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Shopping.lib.ViewModels.SearchViewModel

<!-- 大螢幕標頭呈現 -->
<div class="d-xl-block mt-3">
    <form asp-controller="Banner" asp-action="Search" id="Search" method="post">
        <div class="row">
            <div class="col-auto mt-2">
                <label for="@(nameof(Model.selected))" class="col-form-label sa-safetyEventDDL">狀態</label>
            </div>
            <div class="col-auto mt-2">
                <select asp-for="selected" class="form-select">
                    <option value="">全部</option>
                    <option value="0">關閉</option>
                    <option value="1">開啟</option>
                </select>
            </div>

            <div class="col-auto mt-2">
                <div class="input-group">
                    <input type="text" class="form-control kw" placeholder="搜尋標題" asp-for="text">
                    <div class="input-group-text bi bi-search search">
                    </div>
                </div>
            </div>
            <div class="col-auto mt-2">
                <div class="input-group">
                    <button type="button" class="btn btn-primary addBanner">
                        新增
                    </button>
                </div>
            </div>

            <div class="col-auto mt-2">
                <div class="input-group">
                    <a type="button" class="btn btn-outline-success" href="@Url.Action( "Preview", "Banner")">
                        預覽
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>