html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.modal-max-vh-40 {
    max-height: 40vh;
    overflow-y: auto;
}

/*------------------------------------*\
 $img-thumb-gradien
\*------------------------------------*/

.img-thumb-gradien-Default {
    background: #ccc !important;
    background-image: linear-gradient(to top, #bbb 0%, #ccc 100%) !important;
}

.img-thumb-gradien-Default:hover {
    background: #aaa;
}

.img-thumb-gradien-Green {
    background: #4caf50 !important;
    background-image: linear-gradient(to top, #388e3c 0%, #4caf50 100%) !important;
}

.img-thumb-gradien-Green:hover {
    background: #3d8b40;
}

.img-thumb-gradien-Green .filetype-text,
.img-thumb-gradien-Green .stack-text {
    color: #4caf50;
}

.img-thumb-gradien-Teal {
    background: #009688 !important;
    background-image: linear-gradient(to top, #00796b 0%, #009688 100%) !important;
}

.img-thumb-gradien-Teal:hover {
    background: #00635a;
}

.img-thumb-gradien-Teal .filetype-text,
.img-thumb-gradien-Teal .stack-text {
    color: #009688;
}

.img-thumb-gradien-Cyan {
    background: #00bcd4 !important;
    background-image: linear-gradient(to top, #0097a7 0%, #00bcd4 100%) !important;
}

.img-thumb-gradien-Cyan:hover {
    background: #008fa1;
}

.img-thumb-gradien-Cyan .filetype-text,
.img-thumb-gradien-Cyan .stack-text {
    color: #00bcd4;
}

.img-thumb-gradien-Blue {
    background: #2196f3 !important;
    background-image: linear-gradient(to top, #1976d2 0%, #2196f3 100%) !important;
}

.img-thumb-gradien-Blue:hover {
    background: #0c7cd5;
}

.img-thumb-gradien-Blue .filetype-text,
.img-thumb-gradien-Blue .stack-text {
    color: #2196f3;
}

.img-thumb-gradien-Orange {
    background: #ff9800 !important;
    background-image: linear-gradient(to top, #f57c00 0%, #ff9800 100%) !important;
}

.img-thumb-gradien-Orange:hover {
    background: #cc7a00;
}

.img-thumb-gradien-Orange .filetype-text,
.img-thumb-gradien-Orange .stack-text {
    color: #ff9800;
}

.img-thumb-gradien-Purple {
    background: #9c27b0 !important;
    background-image: linear-gradient(to top, #7b1fa2 0%, #9c27b0 100%) !important;
}

.img-thumb-gradien-Purple:hover {
    background: #771e86;
}

.img-thumb-gradien-Purple .filetype-text,
.img-thumb-gradien-Purple .stack-text {
    color: #9c27b0;
}

.img-thumb-gradien-Pink {
    background: #e91e63 !important;
    background-image: linear-gradient(to top, #c2185b 0%, #e91e63 100%) !important;
}

.img-thumb-gradien-Pink:hover {
    background: #c1134e;
}

.img-thumb-gradien-Pink .filetype-text,
.img-thumb-gradien-Pink .stack-text {
    color: #e91e63;
}

.img-thumb-gradien-GreenA {
    background: #00e676 !important;
    background-image: linear-gradient(to top, #00c853 0%, #00e676 100%) !important;
}

.img-thumb-gradien-GreenA:hover {
    background: #00b35c;
}

.img-thumb-gradien-GreenA .filetype-text,
.img-thumb-gradien-GreenA .stack-text {
    color: #00e676;
}

.img-thumb-gradien-LightGreen {
    background: #9ccc65 !important;
    background-image: linear-gradient(to top, #689f38 0%, #9ccc65 100%) !important;
}

.img-thumb-gradien-LightGreen:hover {
    background: #83bf3f;
}

.img-thumb-gradien-LightGreen .filetype-text,
.img-thumb-gradien-LightGreen .stack-text {
    color: #9ccc65;
}

.img-thumb-gradien-DeepPurple {
    background: #7e57c2 !important;
    background-image: linear-gradient(to top, #512da8 0%, #7e57c2 100%) !important;
}

.img-thumb-gradien-DeepPurple:hover {
    background: #643da9;
}

.img-thumb-gradien-DeepPurple .filetype-text,
.img-thumb-gradien-DeepPurple .stack-text {
    color: #7e57c2;
}

.img-thumb-gradien-DeepPurple {
    background: #7e57c2 !important;
    background-image: linear-gradient(to top, #512da8 0%, #7e57c2 100%) !important;
}

.img-thumb-gradien-DeepPurple:hover {
    background: #643da9;
}

.img-thumb-gradien-DeepPurple .filetype-text,
.img-thumb-gradien-DeepPurple .stack-text {
    color: #7e57c2;
}

.img-thumb-gradien-Red {
    background: #ef5350 !important;
    background-image: linear-gradient(to top, #d32f2f 0%, #ef5350 100%) !important;
}

.img-thumb-gradien-Red:hover {
    background: #eb2521;
}

.img-thumb-gradien-Red .filetype-text,
.img-thumb-gradien-Red .stack-text {
    color: #ef5350;
}

.img-thumb-gradien-Indigo {
    background: #5c6bc0 !important;
    background-image: linear-gradient(to top, #303f9f 0%, #5c6bc0 100%) !important;
}

.img-thumb-gradien-Indigo:hover {
    background: #4150a8;
}

.img-thumb-gradien-Indigo .filetype-text,
.img-thumb-gradien-Indigo .stack-text {
    color: #5c6bc0;
}

.img-thumb-gradien-LightBlue {
    background: #29b6f6 !important;
    background-image: linear-gradient(to top, #0288d1 0%, #29b6f6 100%) !important;
}

.img-thumb-gradien-LightBlue:hover {
    background: #0a9fe2;
}

.img-thumb-gradien-LightBlue .filetype-text,
.img-thumb-gradien-LightBlue .stack-text {
    color: #29b6f6;
}

.img-thumb-gradien-Lime {
    background: #d4e157 !important;
    background-image: linear-gradient(to top, #afb42b 0%, #d4e157 100%) !important;
}

.img-thumb-gradien-Lime:hover {
    background: #c9d92c;
}

.img-thumb-gradien-Lime .filetype-text,
.img-thumb-gradien-Lime .stack-text {
    color: #d4e157;
}

.img-thumb-gradien-Yellow {
    background: #ffeb3b !important;
    background-image: linear-gradient(to top, #f9a825 0%, #ffeb3b 100%) !important;
}

.img-thumb-gradien-Yellow:hover {
    background: #ffe608;
}

.img-thumb-gradien-Yellow .filetype-text,
.img-thumb-gradien-Yellow .stack-text {
    color: #ffeb3b;
}

.img-thumb-gradien-Amber {
    background: #ffca28 !important;
    background-image: linear-gradient(to top, #ffa000 0%, #ffca28 100%) !important;
}

.img-thumb-gradien-Amber:hover {
    background: #f4b800;
}

.img-thumb-gradien-Amber .filetype-text,
.img-thumb-gradien-Amber .stack-text {
    color: #ffca28;
}

.img-thumb-gradien-DeepOrange {
    background: #ff7043 !important;
    background-image: linear-gradient(to top, #e64a19 0%, #ff7043 100%) !important;
}

.img-thumb-gradien-DeepOrange:hover {
    background: #ff4910;
}

.img-thumb-gradien-DeepOrange .filetype-text,
.img-thumb-gradien-DeepOrange .stack-text {
    color: #ff7043;
}

.img-thumb-gradien-Brown {
    background: #8d6e63 !important;
    background-image: linear-gradient(to top, #5d4037 0%, #8d6e63 100%) !important;
}

.img-thumb-gradien-Brown:hover {
    background: #6f574e;
}

.img-thumb-gradien-Brown .filetype-text,
.img-thumb-gradien-Brown .stack-text {
    color: #8d6e63;
}

.img-thumb-gradien-BlueA {
    background: #448aff !important;
    background-image: linear-gradient(to top, #2962ff 0%, #448aff 100%) !important;
}

.img-thumb-gradien-BlueA:hover {
    background: #116aff;
}

.img-thumb-gradien-BlueA .filetype-text,
.img-thumb-gradien-BlueA .stack-text {
    color: #448aff;
}

.sidebar-bgc
{
    background: #002b49 !important;
}

.select2-container .select2-selection {
    min-height: 37.6px !important;
    padding-top: 3px !important;
}
@media (max-width: 767.98px) {
    #toggerButton {
        /* �B�~���˦� */
        display: block !important;
        border: #000000 1px solid;
    }
}
@media (min-width: 767.98px) {
    #toggerButton {
        /* �B�~���˦� */
        display: none !important;
    }
}

.bg-cy {
    background-color: #fffbcc !important;
}

.bg-lightgray {
    background-color: lightgray !important;
}

.text-right {
    text-align: right;
}

.sa-safetyEventTitle {
    font-size: 30px;
    font-weight: bold;
}
