<div b-638xdgw0x5="" class="container-fluid">
    <main b-638xdgw0x5="" role="main" class="pb-3">
        <div class="row justify-content-lg-center">
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-header text-light text-center" style="background-color: #3c4b64">公告消息</div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table border mb-0 text-center">
                                <thead class="table-light fw-semibold">
                                    <tr class="align-middle">
                                        <th>主旨</th>
                                        <th>公告時間</th>
                                    </tr>
                                </thead>
                                <tbody id="bulletinArea">
                                    <tr class="align-middle">
                                        <td class="text-start">
                                            <a href="/" title="1" class="text-decoration-none fw-bold text-dark">
                                                1
                                            </a>
                                        </td>
                                        <td>2024-02-26</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card mb-4">
                    <div class="card-header text-light text-center" style="background-color: #3c4b64">相關連結</div>
                    <div class="card-body">
                        <div class="widget-body">
                            <div id="linkArea" class="row">
                                <div class="col-md-12 m-b-12">
                                    <a href="https://www.nttu.edu.tw/" title="測試測試" target="_blank" class="text-decoration-none">
                                        <img src="/" alt="測試測試" style="width: 100%; height:70px;">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>